@tailwind base;
@tailwind components;
@tailwind utilities;

:target {
  scroll-margin-top: 0.8em;
}

.navbar-item {
  position: relative;
  transition: all 0.3s ease;
}

.navbar-item::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;  
  bottom: -5px;
  left: 50%;
  background-color: #0ea5e9;
  transition: all 0.3s ease;
}

.navbar-item:hover::after {
  width: 100%;
  left: 0;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: #1b1b1b;
}

body::-webkit-scrollbar-thumb {
  background-color: #6200ff;
  border-radius: 5px;
  border: 0px solid #000;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}