.cookieBannerFixed {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  font-size: 15px;

  a {
    color: #117100;
    font-weight: bold;
    font-size: 18px;
    text-decoration: underline;
  }
}

.cookieBanner {
  background-color: #1d1729;
  padding: 10px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.button {
  font-size: 15pt;
  padding: 5px 10px;
  margin-right: 10px;
}