.main {
  min-height: 100vh;
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.item-grid {
  pointer-events: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 25px;
  border-radius: 25px;
  margin-bottom: 25px;
  text-align: center;
  max-width: 280px;
  background: rgba(217, 217, 217, 0.02);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  img {
    width: 75%;
    border-radius: 15%;
    margin-bottom: 30px;
  }

  h3 {
    font-size: 2.5em;
    font-weight: bold;
    margin: auto;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  p {
    margin: 5%;
    font-weight: bold;
  }

  .gd-pink-1 {
    background: linear-gradient(95.51deg, #ea00ff 0%, #5f08ff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }

  ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 30px;

    li {
      list-style-type: none;
      margin: 0px 10px;

      img {
        width: 25px;
      }
    }
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;

  @media (max-width: 767px) {
    .item-grid {
      width: 90%;
      max-width: unset;
      margin-bottom: 20px;
    }
  }
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
}

.project {
  max-height: 10vh;
}

.project:hover {
  transform: scale(1.08);
}