.boxMain {
    min-width: 300px;
    min-height: 420px;
    border: 1.5px solid var(--white);
    border-radius: 20px;

    margin: 0 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--dark-400);
    flex-direction: column;
}

.boxMain img,
.boxMain h1,
.boxMain p,
.boxMain {
    cursor: grab;
    background-color: var(--dark-400);
}

.boxMain img {
    width: 100px;
    height: 100px;
    padding: 10px 0;
    pointer-events: none;
}

.boxMain p {
    padding: 20px 30px;
    font-size: 18px;
    text-align: center;
}

.boxMain h1 {
    padding: 20px 0;
    font-size: 50px;
}