.main {
    padding: 3rem 2rem;
    justify-content: space-evenly;
}

.me h1,
.descricao h1 {
    padding: 1rem 0;
    font-size: 35px;
}

.me p,
.descricao p {
    font-size: 22px;
    padding: 1rem;
    border-radius: 4px;
    border-left: 4px solid #fff;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
}

.descricao img {
    opacity: 80%;
    width: 95%;
    border-radius: 35px;
    transition: all 0.5s;
    display: block;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.1);

    &:hover {
        opacity: 1.05;
        transform: scale(1.05);
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .main {
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (min-width: 1025px) {
    .main {
        min-height: 50vh;
        min-width: 100vh;
        display: flex;
        justify-content: space-evenly;
    }
}