.button1 {
  background-color: #9dff00;
  border: none;
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.button2 {
  background-color: #ff0000;
  border: none;
  color: rgb(7, 7, 7);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 8px; 
  transition: background-color 0.3s ease;
}
