.headerContainer {
    position: sticky;
    top: 0;
    z-index: 100;
    min-height: 5vh;
    display: flex;
    align-items: center;
    padding: 1.2rem 3rem;
    justify-content: flex-end;
}

.logoContainer {
    margin-right: auto;
}

.logo {
    max-width: 15rem;
    transition: transform 0.3s ease;

    &:hover {
        transform: scale(1.08);
    }
}

.navbar {
    display: flex;
    font-size: 1.0rem;
    font-weight: bold;

    ul {
        display: flex;
        flex-direction: row;
        margin: 0;
        padding: 0;
    }

    li {
        display: flex;
        align-items: center;
        height: 3em;
        padding: 0.7em;

        a {
            text-decoration: none;
            color: #EEE;
            font-size: 1em;
            display: flex;

            img {
                margin-right: 0.5em;
                height: 1.5em;
                width: 1.5em;
            }
        }

        a {
            padding-bottom: 0.3em;
            background:
                linear-gradient(to right,
                    rgba(100, 200, 200, 0),
                    rgba(100, 200, 200, 0)),
                linear-gradient(to right,
                    #ea00ff,
                    #7b00ff);
            background-size: 100% 0.1875em, 0 0.1875em;
            background-position: 100% 100%, 0 100%;
            background-repeat: no-repeat;
            transition: background-size 400ms, opacity 0.3s;
            opacity: 0.75;

            &:hover {
                background-size: 0 0.1875em, 100% 0.1875em;
                opacity: 1;
            }
        }
    }
}

@media (max-width: 1200px) {
    .logo {
        display: none;
    }

    .navbar {
        display: none;
        position: absolute;
        top: 85%;
        width: 100%;
        padding: 0.1rem 4.5rem;
    }

    .navbar.open {
        display: block;
    }

    .navbar ul {
        flex-direction: column;
    }

    .hamburguerContainer {
        display: flex;
        justify-content: flex-start;

        .hamburguericon {
            width: 2.4rem;
        }
    }
}

