.main {
    min-width: 100vh;
    min-height: 60vh;

    display: flex;
    justify-content: center;
    border-bottom: 2px solid var(--dark-300);
}

.carousel {
    max-width: 1200px;
    padding: 3rem 2rem;
    overflow: hidden;
}

.carousel h1 {
    padding-bottom: 2rem;
    text-align: center;
    font-size: 40px;
}

.motion {
    transition: all 0.5s;

    &:hover {
        transform: scale(1.06);
    }
}

.boxes {
    display: flex;
    align-items: center;
    padding: 10px;
}

@media (max-width: 1200px) {
    .carousel {
        max-width: 800px;
        padding: 3rem 2rem;
        overflow: hidden;
    }
}