.main {
    min-height: 10vh;
    min-width: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1b1b1b;
}

.block {
    flex: 1;
    text-align: center;
    padding: 1rem;
}

.socias {
    display: flex;
    align-items: center;
    justify-content: center;
}

.socias a {
    opacity: 0.5;
    transition: all 0.5s;
    margin: 0 6px;
}

.socias a:hover {
    opacity: 1;
    transform: scale(1.05);
}

.info,
.termsContainer {
    text-align: center;
    font-weight: bold;
}

.termsContainer {
    padding-right: 1rem;
}

.termsContainer a {
    display: block;
    margin-bottom: 0.5rem;
    text-decoration: none;
    color: #808080;
}

.infoRede {
    text-align: center;
    font-weight: bold;
}

.infoRede .copyright {
    color: #808080;
}

@media only screen and (max-width: 768px) {
    .main {
        min-height: auto;
        min-width: auto;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .socias {
        justify-content: center;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .main {
        min-height: auto;
        min-width: auto;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .block {
        flex: 1;
    }

    .socias {
        justify-content: center;
    }

    .info {
        margin-bottom: 1rem;
    }
}